extends ../../layouts/default

block content
	.not-found
		.wrapper.wrapper--default
			h1.title(style="display:block;margin:auto;margin-right: 9.5em;margin-bottom: 1em;") Koneksys
			.col.four-fifths
				span.title(style="display:block;margin:auto;") (Error 404)
				h1.title4 The requested page was not found
				span.divider
				a.title(href="javascript:history.back()", style="display:block;margin:auto;").link Go back to the previous page
				a.title(href="/", style="display:block;margin:auto;").link Go home
